/* Reset default styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f0f0f0; /* Couleur de fond gris */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 3em;
    color: #007bff; /* Couleur bleue pour le titre */
}

.section {
    padding: 50px;
    margin-bottom: 30px;
    background-color: #ffffff; /* Fond blanc pour les sections */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.section:hover {
    transform: translateY(-10px);
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.project {
    margin-bottom: 30px;
}

.project h3 {
    color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
